html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Epilogue', sans-serif;

    p,
    a,
    li {
        font-size: 1.6rem;
    }
}

.button {
    padding: 1rem 3.6rem;
    border: 1px solid #fff;
    font-size: 1.4rem;
    font-weight: 900;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

#navController {
    background-color: #28293E;

    * {
        color: #fff;
    }

    .navbar-brand {
        font-weight: 700;
        font-size: 2.4rem;

        .logo {
            padding-right: 1.4rem;
        }
    }

    .navbar-nav {
        .nav-item {
            padding-right: 4rem;
            padding-left: 4rem;

            .nav-link {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }

    .navButton {
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .navButton:hover {
        background: #EF6D58;
        border-color: #EF6D58;
    }
}

.sectionTitle {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -1px;
}

.sectionMiniTitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #EF6D58;
}

#banner {
    background-color: #28293E;

    .bannerCtrl {
        padding: 10.4rem 0;
    }

    .bannerTitle {
        font-weight: 800;
        font-size: 7.2rem;
        line-height: 8rem;
        letter-spacing: -.2rem;
        color: #FFFFFF;
        padding: 2.4rem 0;
    }

    .bannerDetails {
        color: rgba(255, 255, 255, 0.64);
    }

    .bannerBtn {
        background: #EF6D58;
        border-radius: .6rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
        border-color: #EF6D58;
        color: #FFFFFF;
        margin-top: 2.4rem;
    }

    .bannerBtn:hover {
        border: 1px solid rgba(255, 255, 255, 0.295743);
        background: transparent;
    }
}

.paddingAdded {
    padding: 9rem 0;
}

#help {
    background-color: #FDF0E9;

    .sectionTitle {
        padding: 2rem 0;
    }

    .helpCards {
        .card {
            padding: 3rem 1.5rem;
            background: transparent;

            .card-title {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 3.2rem;
                color: #391400;
            }

            .card-text,
            .learn-more {
                line-height: 3.2rem;
                color: rgba(57, 20, 0, 0.64);
                text-decoration: none;
            }
        }

        .card-one {
            border: 1px solid #F3D1BF;
            border-radius: 6px 0px 0px 6px;
        }

        .card-two {
            border-radius: 0px 6px 6px 0px;
        }
    }

    .moreService {
        font-size: 16px;
        text-align: center;
        padding-top: 4.5rem;
        line-height: 32px;
        color: rgba(57, 20, 0, 0.64);

        a {
            color: #391400;
            padding-left: 1rem;
            text-decoration: none;
        }
    }
}

#leatesWorks {
    background-color: #28293E;

    .exploreBtn {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .exploreBtn:hover {
        background: #EF6D58;
        border-color: #EF6D58;
    }

    .worksDemoCards {
        padding-top: 9rem;

        .card {
            border: none;
            background: transparent;
            position: relative;

            .workImg {
                max-height: 57rem;
            }

            .workText {
                left: 4.8rem;
                bottom: 5.1rem;
                position: absolute;

                .tag {
                    line-height: 3.2rem;
                    color: #391400;
                    padding: .25rem 1.5rem;
                    background: #fff;
                    border-radius: 1.5rem;
                    -webkit-border-radius: 1.5rem;
                    -moz-border-radius: 1.5rem;
                    -ms-border-radius: 1.5rem;
                    -o-border-radius: 1.5rem;
                    display: inline-block;
                }

                .designName {
                    font-weight: 800;
                    font-size: 4rem;
                    line-height: 4.5rem;
                    color: #fff;
                    padding-top: 1rem;
                }
            }
        }
    }
}

#proffesion {
    background-color: #FDF0E9;

    .abutBtn {
        color: #391400;
        background: #FFFFFF;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        text-transform: uppercase;
        margin-top: 3rem;
    }

    .ability {
        color: rgba(57, 20, 0, 0.64);
    }

    .abutBtn:hover {
        background: #EF6D58;
        border-color: #EF6D58;
        color: #fff;
    }


    .percentage {
        .card {
            padding: 2.5rem 1.5rem;
            background: transparent;

            .card-title {
                font-weight: 800;
                font-size: 4rem;
                line-height: 4.8rem;
                color: #391400;
            }
        }

        .cardOne {
            border: 1px solid #F3D1BF;
            border-radius: 6px 0px 0px 6px;
        }

        .cardTwo {
            border: 1px solid #F3D1BF;
            border-radius: 0px 6px 6px 0px;
        }
    }
}

#features {
    background: #28293E;

    .feturesList {
        padding: 0;
        padding-top: 2rem;

        li {
            color: rgba(255, 255, 255, 0.64);
            padding-bottom: 1rem;
            list-style-position: inside;
            list-style: none;
        }
    }
}

#getStartd {
    .container {
        position: relative;

        .sparkImg {
            position: absolute;
            top: -36%;
            left: 0;
        }
    }

    background: #F9E5DA;

    .sectionSemiTitle {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #391400;
        padding: 2rem 0;
    }

    .getStartBtn {
        background: #EF6D58;
        color: #fff;
        border-radius: .6rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
    }

    .getStartBtn:hover {
        border-color: #EF6D58;
        background: transparent;
        color: #391400;
    }
}

#testimonial {
    background: #FDF0E9;

    .testimonialCards {
        .card {
            padding: 3.5rem;
            transition: all .4s ease-in-out;
            border: 1px solid #F3D1BF;
            border-radius: 6px 0px 0px 6px;
            background: transparent;
            cursor: pointer;
            min-height: 44rem;
        }

        .card:hover {
            min-height: 48rem;
        }

        .card:hover {
            background: #fff;
            border-color: #fff;
        }

        padding-top: 5rem;

        img {
            padding-right: .75rem;
        }

        .card-text {
            color: rgba(57, 20, 0, 0.64);
            padding-bottom: 3.5rem;
            padding-top: 2rem;
            line-height: 3.2rem;

        }

        .card-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
            margin: 0;
        }

        .deg {
            color: #391400;
            margin: 0;
        }

        .card-footer {
            transition: all .4s ease-in-out;
            background: transparent;
            border: none;
        }
    }

    .seeAllBtn {
        background: #fff;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        font-weight: 900;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;

        color: #391400;
    }

    .seeAllBtn:hover {
        background: #EF6D58;
        color: #fff;
    }
}


#faq {
    background-color: #28293E;

    .faqTxt {
        color: rgba(255, 255, 255, 0.64);
    }

    .accordion-item {
        background: transparent;
    }

    .faqAccrodion {
        padding-left: 7rem;

        .accordion-header {
            background: transparent;
            border: 1px solid #3A3C56;
            border-radius: 0px 0px 6px 6px;
            padding: 1.5rem 0;

            button {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #fff;
                background: transparent;
            }
        }

        .accordion-body {
            font-size: 16px;
            line-height: 32px;
            color: rgba(57, 20, 0, 0.64);
            background: #fff;
        }

        .accordion-button::after {
            flex-shrink: 0;
            width: 4.25rem;
            height: 4.25rem;
            margin-left: auto;
            content: "";
            background-image: url(../images/up.png);
            background-repeat: no-repeat;
            background-size: 4.25rem;
            transition: transform .2s ease-in-out;
        }
    }

    .brands {
        padding-top: 7rem;
    }
}

#blogs {
    background: #FDF0E9;

    .bigBlog,
    .smlBlog {
        padding-top: 5rem;
    }

    .blogCategory,
    .blogTag {
        font-size: 20px;
        line-height: 32px;
        color: #391400;
    }

    .blogTitle {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #391400;
    }

    .blogDate {
        line-height: 32px;
        color: rgba(57, 20, 0, 0.64);
    }

    .discoverBtn {
        background: #FFFFFF;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        ;
    }

    .smlBlog {
        .card {
            background: transparent;
            border: none;

            .card-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #391400;
            }

            .card-text {
                line-height: 32px;
                color: rgba(57, 20, 0, 0.64);
            }

            padding-bottom: 2rem;
        }
    }

    .newsLetter {
        padding: 5rem 0;

        .newsTitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
        }

        .newsTxt {
            color: rgba(57, 20, 0, 0.64);
        }

        input {
            padding: 1rem 2rem;
            font-size: 1.6rem;
            color: rgba(57, 20, 0, 0.64);
        }

        .emailBtn {
            background: #FFFFFF;
            box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
            border-radius: 6px;
            font-weight: 900;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            padding: 1.25rem 2rem;
            color: #391400;
        }
    }
}

#contact {
    background-color: #28293E;

    .getInTouch {
        background: #FFFFFF;
        border-radius: 6px;
        padding: 3rem;
    }

    .getTouchTitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #391400;
        padding: 2rem 0;
    }

    input {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        color: rgba(57, 20, 0, 0.64);
    }

    select {
        height: 4.5rem;
        font-size: 1.6rem;
        color: rgba(57, 20, 0, 0.64);
    }

    textarea {
        font-size: 1.6rem;
        color: rgba(57, 20, 0, 0.64);
    }

    .submitBtn {
        background: #EF6D58;
        color: #fff;
        text-transform: uppercase;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .contactTxt {
        padding: 3rem 0;
        color: rgba(255, 255, 255, 0.64);
    }

    .contactInfo {
        p {
            color: #fff;
            font-size: 20px;
            line-height: 32px;
        }
    }
}

#helpTOBuild {
    background: #FDF0E9;

    .helpTxt {
        color: rgba(57, 20, 0, 0.64);
    }

    .helpBtn {
        background: #EF6D58;
        border-radius: 6px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem 2rem;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

#footer {
    .nav-link {
        color: #fff;
    }

    .footerTItle {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    background-color: #28293E;

    .socialLinks {
        a {
            padding-right: 1rem;
        }
    }

    .copyright {
        padding-top: 4rem;
        border-top: 1px solid #3A3C56;

        .copyrightTxt {
            color: rgba(255, 255, 255, 0.64);
        }
    }
}













@media screen and (max-width: 768px) and (max-width: 991px) {
    #banner .bannerTitle {
        font-size: 5rem;
        line-height: 6rem;
    }

    #banner .bannerDetails {
        br {
            display: none;
        }
    }

    .paddingAdded {
        padding: 5rem 0;
    }

    .sectionTitle {
        font-size: 3.6rem;
    }

    #leatesWorks .worksDemoCards .card {
        margin-bottom: 2rem;
    }

    .percentage {
        padding-top: 3rem;
    }

    p {
        br {
            display: none;
        }
    }

    .getStartDetailTxt {
        padding-top: 3rem;
    }

    .sectionTitle {
        br {
            display: none;
        }
    }

    #faq .faqAccrodion {
        padding-left: 0;
        margin-top: 3rem;
    }

    #faq .faqAccrodion .accordion-header button {
        font-size: 18px;
    }

    #faq .faqAccrodion .accordion-header {
        padding: 0.5rem 0;
    }

    .brands {
        text-align: center;

        img {
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
    }

    #blogs .blogTitle {
        font-size: 29px;
        line-height: 36px;
    }

    .sectionTitle {
        line-height: 4.4rem;
        padding-bottom: 1.5rem;
    }

    .sectionMiniTitle {
        padding-top: 3rem;
    }

    #helpTOBuild .helpBtn {
        margin-bottom: 3rem;
    }

    #banner .bannerCtrl {
        padding: 3.4rem 0;
    }

    #footer {
        text-align: center;
    }

    #getStartd .container .sparkImg {
        position: absolute;
        top: -20%;
        left: 0;
    }
}