html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: 'Epilogue', sans-serif; }
  body p,
  body a,
  body li {
    font-size: 1.6rem; }

.button {
  padding: 1rem 3.6rem;
  border: 1px solid #fff;
  font-size: 1.4rem;
  font-weight: 900;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out; }

#navController {
  background-color: #28293E; }
  #navController * {
    color: #fff; }
  #navController .navbar-brand {
    font-weight: 700;
    font-size: 2.4rem; }
    #navController .navbar-brand .logo {
      padding-right: 1.4rem; }
  #navController .navbar-nav .nav-item {
    padding-right: 4rem;
    padding-left: 4rem; }
    #navController .navbar-nav .nav-item .nav-link {
      font-size: 1.6rem;
      font-weight: 400; }
  #navController .navButton {
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem; }
  #navController .navButton:hover {
    background: #EF6D58;
    border-color: #EF6D58; }

.sectionTitle {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: -1px; }

.sectionMiniTitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #EF6D58; }

#banner {
  background-color: #28293E; }
  #banner .bannerCtrl {
    padding: 10.4rem 0; }
  #banner .bannerTitle {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    letter-spacing: -.2rem;
    color: #FFFFFF;
    padding: 2.4rem 0; }
  #banner .bannerDetails {
    color: rgba(255, 255, 255, 0.64); }
  #banner .bannerBtn {
    background: #EF6D58;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    border-color: #EF6D58;
    color: #FFFFFF;
    margin-top: 2.4rem; }
  #banner .bannerBtn:hover {
    border: 1px solid rgba(255, 255, 255, 0.295743);
    background: transparent; }

.paddingAdded {
  padding: 9rem 0; }

#help {
  background-color: #FDF0E9; }
  #help .sectionTitle {
    padding: 2rem 0; }
  #help .helpCards .card {
    padding: 3rem 1.5rem;
    background: transparent; }
    #help .helpCards .card .card-title {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: #391400; }
    #help .helpCards .card .card-text, #help .helpCards .card .learn-more {
      line-height: 3.2rem;
      color: rgba(57, 20, 0, 0.64);
      text-decoration: none; }
  #help .helpCards .card-one {
    border: 1px solid #F3D1BF;
    border-radius: 6px 0px 0px 6px; }
  #help .helpCards .card-two {
    border-radius: 0px 6px 6px 0px; }
  #help .moreService {
    font-size: 16px;
    text-align: center;
    padding-top: 4.5rem;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64); }
    #help .moreService a {
      color: #391400;
      padding-left: 1rem;
      text-decoration: none; }

#leatesWorks {
  background-color: #28293E; }
  #leatesWorks .exploreBtn {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem; }
  #leatesWorks .exploreBtn:hover {
    background: #EF6D58;
    border-color: #EF6D58; }
  #leatesWorks .worksDemoCards {
    padding-top: 9rem; }
    #leatesWorks .worksDemoCards .card {
      border: none;
      background: transparent;
      position: relative; }
      #leatesWorks .worksDemoCards .card .workImg {
        max-height: 57rem; }
      #leatesWorks .worksDemoCards .card .workText {
        left: 4.8rem;
        bottom: 5.1rem;
        position: absolute; }
        #leatesWorks .worksDemoCards .card .workText .tag {
          line-height: 3.2rem;
          color: #391400;
          padding: .25rem 1.5rem;
          background: #fff;
          border-radius: 1.5rem;
          -webkit-border-radius: 1.5rem;
          -moz-border-radius: 1.5rem;
          -ms-border-radius: 1.5rem;
          -o-border-radius: 1.5rem;
          display: inline-block; }
        #leatesWorks .worksDemoCards .card .workText .designName {
          font-weight: 800;
          font-size: 4rem;
          line-height: 4.5rem;
          color: #fff;
          padding-top: 1rem; }

#proffesion {
  background-color: #FDF0E9; }
  #proffesion .abutBtn {
    color: #391400;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    text-transform: uppercase;
    margin-top: 3rem; }
  #proffesion .ability {
    color: rgba(57, 20, 0, 0.64); }
  #proffesion .abutBtn:hover {
    background: #EF6D58;
    border-color: #EF6D58;
    color: #fff; }
